.sidebar{
  width:260px;
  background:linear-gradient(
    180deg,
    #0f172a 0%,
    #111827 50%,
    #1e293b 100%
  );

  color:white;

  padding:24px 18px;

  position:fixed;
  left:0;
  top:0;

  height:100vh;
  overflow-y:auto;

  box-shadow:4px 0 20px rgba(0,0,0,.15);
}

.brand{
  margin-bottom:35px;
  padding-bottom:20px;
  border-bottom:1px solid rgba(255,255,255,.08);
}

.brand h2{
  margin:0;
  font-size:32px;
  font-weight:800;
  letter-spacing:1px;
}

.brand p{
  margin-top:6px;
  color:#94a3b8;
  font-size:14px;
}

.sidebar ul{
  list-style:none;
  padding:0;
  margin:0;
}

.sidebar li{
  padding:15px 18px;
  margin-bottom:12px;

  border-radius:14px;

  cursor:pointer;

  transition:all .3s ease;

  color:#cbd5e1;

  font-size:15px;
  font-weight:500;

  display:flex;
  align-items:center;
  gap:10px;
}

.sidebar li:hover{

  background:#334155;

  color:white;

  transform:translateX(6px);

  box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.active-link{

  background:linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
  );

  color:white !important;

  font-weight:600;

  box-shadow:
    0 10px 25px rgba(37,99,235,.35);
}

.sidebar::-webkit-scrollbar{
  width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
  background:#475569;
  border-radius:10px;
}